src/main/config/com/checkmarx/jenkins/CxWebService/CxJenkinsWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Checkmarx.com/v7" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://Checkmarx.com/v7" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Checkmarx.com/v7">
      <s:element name="Scan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="args" type="tns:CliScanArgs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CliScanArgs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PrjSettings" type="tns:ProjectSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="SrcCodeSettings" type="tns:SourceCodeSettings" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPrivateScan" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsIncremental" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PresetID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="AssociatedGroupID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ScanConfigurationID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceCodeSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SourceOrigin" type="tns:SourceLocationType" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCredentials" type="tns:Credentials" />
          <s:element minOccurs="0" maxOccurs="1" name="PathList" type="tns:ArrayOfScanPath" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceControlSetting" type="tns:SourceControlSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="PackagedCode" type="tns:LocalCodeContainer" />
          <s:element minOccurs="0" maxOccurs="1" name="SourcePullingAction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceFilterLists" type="tns:SourceFilterPatterns" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SourceLocationType">
        <s:restriction base="s:string">
          <s:enumeration value="Local" />
          <s:enumeration value="Shared" />
          <s:enumeration value="SourceControl" />
          <s:enumeration value="SourcePulling" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Credentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScanPath">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScanPath" nillable="true" type="tns:ScanPath" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScanPath">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IncludeSubTree" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceControlSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSSL" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseSSH" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Repository" type="tns:RepositoryType" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCredentials" type="tns:Credentials" />
          <s:element minOccurs="1" maxOccurs="1" name="Protocol" type="tns:SourceControlProtocolType" />
          <s:element minOccurs="0" maxOccurs="1" name="RepositoryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProtocolParameters" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GITBranch" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GitLsViewType" type="tns:GitLsRemoteViewType" />
          <s:element minOccurs="0" maxOccurs="1" name="SSHPublicKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSHPrivateKey" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RepositoryType">
        <s:restriction base="s:string">
          <s:enumeration value="TFS" />
          <s:enumeration value="SVN" />
          <s:enumeration value="CVS" />
          <s:enumeration value="GIT" />
          <s:enumeration value="Perforce" />
          <s:enumeration value="NONE" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SourceControlProtocolType">
        <s:restriction base="s:string">
          <s:enumeration value="WindowsAuthentication" />
          <s:enumeration value="SSL" />
          <s:enumeration value="SSH" />
          <s:enumeration value="PasswordServer" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="GitLsRemoteViewType">
        <s:restriction base="s:string">
          <s:enumeration value="TAGS" />
          <s:enumeration value="HEADS" />
          <s:enumeration value="TAGS_AND_HEADS" />
          <s:enumeration value="ALL" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="LocalCodeContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZippedFile" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SourceFilterPatterns">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExcludeFilesPatterns" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExcludeFoldersPatterns" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ScanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScanResult" type="tns:CxWSResponseRunID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseRunID">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ProjectID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="RunId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CxWSBasicRepsonse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccesfull" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPresetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPresetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPresetListResult" type="tns:CxWSResponsePresetList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponsePresetList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="PresetList" type="tns:ArrayOfPreset" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfPreset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Preset" nillable="true" type="tns:Preset" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Preset">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PresetName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="owningUser" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isUserAllowToUpdate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isUserAllowToDelete" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetConfigurationSetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigurationSetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurationSetListResult" type="tns:CxWSResponseConfigSetList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseConfigSetList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ConfigSetList" type="tns:ArrayOfConfigurationSet" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfConfigurationSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConfigurationSet" nillable="true" type="tns:ConfigurationSet" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConfigurationSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConfigSetName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectsDisplayData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectsDisplayDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectsDisplayDataResult" type="tns:CxWSResponseProjectsDisplayData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseProjectsDisplayData">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="projectList" type="tns:ArrayOfProjectDisplayData" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfProjectDisplayData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectDisplayData" nillable="true" type="tns:ProjectDisplayData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectDisplayData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Permission" type="tns:UserPermission" />
          <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceProvider" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Preset" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastScanDate" type="tns:CxDateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalScans" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserPermission">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDelete" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToDuplicate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToRun" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToUpdate" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CxDateTime">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Hour" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Minute" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Second" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Day" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProjectConfiguration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectConfigurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectConfigurationResult" type="tns:CxWSResponseProjectConfig" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseProjectConfig">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProjectConfig" type="tns:ProjectConfiguration" />
              <s:element minOccurs="0" maxOccurs="1" name="Permission" type="tns:UserPermission" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ProjectConfiguration">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProjectSettings" type="tns:ProjectSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceCodeSettings" type="tns:SourceCodeSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduleSettings" type="tns:ScheduleSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="ScanActionSettings" type="tns:ScanActionSettings" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectIssueTrackingSettings" type="tns:CxWSProjectIssueTrackingSettings" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScheduleSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Schedule" type="tns:ScheduleType" />
          <s:element minOccurs="0" maxOccurs="1" name="ScheduledDays" type="tns:ArrayOfDayOfWeek" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="tns:CxDateTime" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ScheduleType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Now" />
          <s:enumeration value="Weekly" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDayOfWeek">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DayOfWeek" type="tns:DayOfWeek" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DayOfWeek">
        <s:restriction base="s:string">
          <s:enumeration value="Sunday" />
          <s:enumeration value="Monday" />
          <s:enumeration value="Tuesday" />
          <s:enumeration value="Wednesday" />
          <s:enumeration value="Thursday" />
          <s:enumeration value="Friday" />
          <s:enumeration value="Saturday" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ScanActionSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ScanActionList" type="tns:ArrayOfScanAction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScanAction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScanAction" nillable="true" type="tns:ScanAction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScanAction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfString" />
          <s:element minOccurs="1" maxOccurs="1" name="Trigger" type="tns:ScanEventType" />
          <s:element minOccurs="1" maxOccurs="1" name="Action" type="tns:ScanActionType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ScanEventType">
        <s:restriction base="s:string">
          <s:enumeration value="BeforeScanStarts" />
          <s:enumeration value="AfterScanSucceeds" />
          <s:enumeration value="OnScanFailure" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ScanActionType">
        <s:restriction base="s:string">
          <s:enumeration value="EmailNotification" />
          <s:enumeration value="PostScanAction" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CxWSProjectIssueTrackingSettings">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TrackingSystemID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Params" type="tns:ArrayOfCxWSIssueTrackingParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCxWSIssueTrackingParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CxWSIssueTrackingParam" nillable="true" type="tns:CxWSIssueTrackingParam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CxWSIssueTrackingParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="applicationCredentials" type="tns:Credentials" />
            <s:element minOccurs="1" maxOccurs="1" name="lcid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:CxWSResponseLoginData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseLoginData">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSResponseSessionID">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FamilyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="UserPreferedLanguageLCID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToCreateProject" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToChangeProject" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageUsers" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewCompanies" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageCompanies" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageServer" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewInstallationData" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToViewSp" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManageSp" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsScanner" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAuditor" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManagePresets" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="isAllowedToManagePredefinedCommand" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToManagePostScanAction" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAllowedToModifyResultDetails" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="EnableIncrementalScan" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ShowSaaSPackageNotificationAndErrors" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="ShowSaaSPackageDetails" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsAdviseChangePassword" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CxWSResponseSessionID">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="SessionId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAssociatedGroupsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Group">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:GroupType" />
          <s:element minOccurs="0" maxOccurs="1" name="Guid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="GroupType">
        <s:restriction base="s:string">
          <s:enumeration value="Team" />
          <s:enumeration value="Company" />
          <s:enumeration value="SP" />
          <s:enumeration value="Server" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAssociatedGroupsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssociatedGroupsListResult" type="tns:CxWSResponseGroupList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseGroupList">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="GroupList" type="tns:ArrayOfGroup" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetStatusOfSingleScan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusOfSingleScanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusOfSingleScanResult" type="tns:CxWSResponseScanStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseScanStatus">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CurrentStage" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QueuePosition" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalPercent" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentStagePercent" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StageName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StageMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StepMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StepDetails" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ResultId" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="ScanId" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="TaskId" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="TaskName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RunId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SourceId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LOC" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="TimeScheduled" type="tns:CxDateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="ElapsedTime" type="tns:CxDateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="TimeFinished" type="tns:CxDateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="TimeBeginWorking" type="tns:CxDateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentStatus" type="tns:CurrentStatusEnum" />
              <s:element minOccurs="1" maxOccurs="1" name="PartialResults" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:simpleType name="CurrentStatusEnum">
        <s:restriction base="s:string">
          <s:enumeration value="Queued" />
          <s:enumeration value="Working" />
          <s:enumeration value="Finished" />
          <s:enumeration value="Failed" />
          <s:enumeration value="Canceled" />
          <s:enumeration value="Deleted" />
          <s:enumeration value="Unknown" />
          <s:enumeration value="Unzipping" />
          <s:enumeration value="WaitingToProcess" />
        </s:restriction>
      </s:simpleType>
      <s:element name="IsValidProjectName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidProjectNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsValidProjectNameResult" type="tns:CxWSBasicRepsonse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateScanReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reportRequest" type="tns:CxWSReportRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSReportRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:CxWSReportType" />
          <s:element minOccurs="1" maxOccurs="1" name="ScanID" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CxWSReportType">
        <s:restriction base="s:string">
          <s:enumeration value="PDF" />
          <s:enumeration value="RTF" />
          <s:enumeration value="CSV" />
          <s:enumeration value="XML" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CreateScanReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateScanReportResult" type="tns:CxWSCreateReportResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSCreateReportResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetScanReportStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScanReportStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScanReportStatusResult" type="tns:CxWSReportStatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSReportStatusResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IsReady" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsFailed" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetScanReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportID" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScanReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScanReportResult" type="tns:CxWSResponseScanResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseScanResults">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ScanResults" type="s:base64Binary" />
              <s:element minOccurs="1" maxOccurs="1" name="containsAllResults" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScanSoapIn">
    <wsdl:part name="parameters" element="tns:Scan" />
  </wsdl:message>
  <wsdl:message name="ScanSoapOut">
    <wsdl:part name="parameters" element="tns:ScanResponse" />
  </wsdl:message>
  <wsdl:message name="GetPresetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPresetList" />
  </wsdl:message>
  <wsdl:message name="GetPresetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPresetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationSetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurationSetList" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationSetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurationSetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectsDisplayDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectsDisplayData" />
  </wsdl:message>
  <wsdl:message name="GetProjectsDisplayDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectsDisplayDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectConfigurationSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectConfiguration" />
  </wsdl:message>
  <wsdl:message name="GetProjectConfigurationSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociatedGroupsListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssociatedGroupsList" />
  </wsdl:message>
  <wsdl:message name="GetAssociatedGroupsListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssociatedGroupsListResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusOfSingleScanSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusOfSingleScan" />
  </wsdl:message>
  <wsdl:message name="GetStatusOfSingleScanSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusOfSingleScanResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidProjectNameSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidProjectName" />
  </wsdl:message>
  <wsdl:message name="IsValidProjectNameSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidProjectNameResponse" />
  </wsdl:message>
  <wsdl:message name="CreateScanReportSoapIn">
    <wsdl:part name="parameters" element="tns:CreateScanReport" />
  </wsdl:message>
  <wsdl:message name="CreateScanReportSoapOut">
    <wsdl:part name="parameters" element="tns:CreateScanReportResponse" />
  </wsdl:message>
  <wsdl:message name="GetScanReportStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetScanReportStatus" />
  </wsdl:message>
  <wsdl:message name="GetScanReportStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetScanReportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetScanReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetScanReport" />
  </wsdl:message>
  <wsdl:message name="GetScanReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetScanReportResponse" />
  </wsdl:message>
  <wsdl:portType name="CxJenkinsWebServiceSoap">
    <wsdl:operation name="Scan">
      <wsdl:input message="tns:ScanSoapIn" />
      <wsdl:output message="tns:ScanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPresetList">
      <wsdl:input message="tns:GetPresetListSoapIn" />
      <wsdl:output message="tns:GetPresetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationSetList">
      <wsdl:input message="tns:GetConfigurationSetListSoapIn" />
      <wsdl:output message="tns:GetConfigurationSetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsDisplayData">
      <wsdl:input message="tns:GetProjectsDisplayDataSoapIn" />
      <wsdl:output message="tns:GetProjectsDisplayDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectConfiguration">
      <wsdl:input message="tns:GetProjectConfigurationSoapIn" />
      <wsdl:output message="tns:GetProjectConfigurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedGroupsList">
      <wsdl:input message="tns:GetAssociatedGroupsListSoapIn" />
      <wsdl:output message="tns:GetAssociatedGroupsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusOfSingleScan">
      <wsdl:input message="tns:GetStatusOfSingleScanSoapIn" />
      <wsdl:output message="tns:GetStatusOfSingleScanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidProjectName">
      <wsdl:input message="tns:IsValidProjectNameSoapIn" />
      <wsdl:output message="tns:IsValidProjectNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateScanReport">
      <wsdl:input message="tns:CreateScanReportSoapIn" />
      <wsdl:output message="tns:CreateScanReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScanReportStatus">
      <wsdl:input message="tns:GetScanReportStatusSoapIn" />
      <wsdl:output message="tns:GetScanReportStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScanReport">
      <wsdl:input message="tns:GetScanReportSoapIn" />
      <wsdl:output message="tns:GetScanReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CxJenkinsWebServiceSoap" type="tns:CxJenkinsWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scan">
      <soap:operation soapAction="http://Checkmarx.com/v7/Scan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresetList">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetPresetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationSetList">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetConfigurationSetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsDisplayData">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetProjectsDisplayData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectConfiguration">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetProjectConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://Checkmarx.com/v7/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedGroupsList">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetAssociatedGroupsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOfSingleScan">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetStatusOfSingleScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidProjectName">
      <soap:operation soapAction="http://Checkmarx.com/v7/IsValidProjectName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScanReport">
      <soap:operation soapAction="http://Checkmarx.com/v7/CreateScanReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScanReportStatus">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetScanReportStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScanReport">
      <soap:operation soapAction="http://Checkmarx.com/v7/GetScanReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CxJenkinsWebServiceSoap12" type="tns:CxJenkinsWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Scan">
      <soap12:operation soapAction="http://Checkmarx.com/v7/Scan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresetList">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetPresetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationSetList">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetConfigurationSetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsDisplayData">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetProjectsDisplayData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectConfiguration">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetProjectConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://Checkmarx.com/v7/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedGroupsList">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetAssociatedGroupsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusOfSingleScan">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetStatusOfSingleScan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidProjectName">
      <soap12:operation soapAction="http://Checkmarx.com/v7/IsValidProjectName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateScanReport">
      <soap12:operation soapAction="http://Checkmarx.com/v7/CreateScanReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScanReportStatus">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetScanReportStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScanReport">
      <soap12:operation soapAction="http://Checkmarx.com/v7/GetScanReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CxJenkinsWebService">
    <wsdl:port name="CxJenkinsWebServiceSoap" binding="tns:CxJenkinsWebServiceSoap">
      <soap:address location="http://10.31.0.61/CxWebInterface/Jenkins/CxJenkinsWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="CxJenkinsWebServiceSoap12" binding="tns:CxJenkinsWebServiceSoap12">
      <soap12:address location="http://10.31.0.61/CxWebInterface/Jenkins/CxJenkinsWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>