src/main/resources/com/checkmarx/jenkins/CxWebService/cxwsresolver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Checkmarx.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://Checkmarx.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Checkmarx.com">
      <s:element name="GetWebServiceUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ClientType" type="tns:CxClientType" />
            <s:element minOccurs="1" maxOccurs="1" name="APIVersion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CxClientType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="WebPortal" />
          <s:enumeration value="CLI" />
          <s:enumeration value="Eclipse" />
          <s:enumeration value="VS" />
          <s:enumeration value="InteliJ" />
          <s:enumeration value="Audit" />
          <s:enumeration value="SDK" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetWebServiceUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWebServiceUrlResult" type="tns:CxWSResponseDiscovery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CxWSResponseDiscovery">
        <s:complexContent mixed="false">
          <s:extension base="tns:CxWSBasicRepsonse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceURL" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CxWSBasicRepsonse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccesfull" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetWebServiceUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetWebServiceUrl" />
  </wsdl:message>
  <wsdl:message name="GetWebServiceUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetWebServiceUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="CxWSResolverSoap">
    <wsdl:operation name="GetWebServiceUrl">
      <wsdl:input message="tns:GetWebServiceUrlSoapIn" />
      <wsdl:output message="tns:GetWebServiceUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CxWSResolverSoap" type="tns:CxWSResolverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebServiceUrl">
      <soap:operation soapAction="http://Checkmarx.com/GetWebServiceUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CxWSResolverSoap12" type="tns:CxWSResolverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebServiceUrl">
      <soap12:operation soapAction="http://Checkmarx.com/GetWebServiceUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CxWSResolver">
    <wsdl:port name="CxWSResolverSoap" binding="tns:CxWSResolverSoap">
      <soap:address location="http://10.31.0.149/Cxwebinterface/cxwsresolver.asmx" />
    </wsdl:port>
    <wsdl:port name="CxWSResolverSoap12" binding="tns:CxWSResolverSoap12">
      <soap12:address location="http://10.31.0.149/Cxwebinterface/cxwsresolver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>